<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<div class="container">
<div class="row">
  <div class="col-lg-12">
<% @pictures.each do |picture| %>
<div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <blockquote>
            <% loginUserId=picture.user_id - 1 %>
  <h4><%= @users.find(picture.user_id).name %> さんの投稿</h4>
    <%= image_tag picture_path(picture), class: "middle-img" %>
    <% if(current_user.id == picture.user_id) %>
      <%= link_to "編集",edit_picture_path(picture.id),class: "btn btn-info" %>
      <%= link_to "削除",picture_path(picture.id), method: :delete, data: {confirm: "本当に削除しますか？"},class: "btn btn-danger" %>
    <% end %>
    <br>
          </blockquote>
        </div>
      </div>

<% end %>
</div>
</div>
</div>